@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {

    background: radial-gradient(ellipse at bottom, #0c1637 0%, #00011e 35%, #000000 100%);
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
}